body, html {
    height: 100%;
    margin: 0;
  }

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 39fr;
    grid-template-rows: 2fr 21fr;
    font-family: "Fira Code", monospace;
    font-weight: 600;
}

.sidebar {
    background-color: #2286d6;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    color:#e5e7eb;
    text-decoration: none;
    font-size: 2em;
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-rows: 0.2em 3em 1em repeat(6, 2em) 1em repeat(auto-fit, 2em);
    padding: max(0.5vw, 0.5em);
}

header {
    background-color: #ffffff;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 4fr 5fr;
}

main {
    background-color: #e5e7eb;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.site-title {
    display: inline-flex;
    width: 100%;
    height: 2em;
    color:#e5e7eb;
    align-items: center;
    text-decoration: none;
    font-size: 1.5em;
}

.sidebar svg {
    width: 1.5em;
    height: 1.5em;
}

path { fill: currentColor; }

.sidebar .svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar div {
    display: flex;
    align-items: center;
}

.searchbar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    padding-left: 2em;
}

.searchbar form {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.searchbar form input {
    width: 70%;
    height: min(2.2em, 100%);
    border-radius: 2em;
    background-color: #dee5e5;
    border-width: 0px;
    font-size: 1.2em;
    padding-left: 0.8em;
}

.searchbar form button {
    width: min(3em, 100%);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    background-color: inherit;
    border-width: 0px;
}

.account-info {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2.5em;
    padding-right: 0.5em;
}

.account-info .notification {
    width: 2.8em;
    aspect-ratio: 1 / 1;
    color: #646565;
}

.account-info .profile-pic {
    width: 4em;
    aspect-ratio: 1 / 1;
    background-image: url(images/profile-pic.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.account-info .username {
    width: 50%;
    height: 3em;
    font-size: 2em;
    display: flex;
    align-items: center;
    color: #373737;
}

.account-greet {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr 48fr;
    grid-template-rows: 3fr 5fr;
}

.util-buttons {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-pp-container{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greet-text{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    margin: 0px;
    font-size: 1.5em;
    display: flex;
    align-items: end;
}

.user-info{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    margin: 0px;
    font-size: 2.5em;
    display: flex;
    align-items: baseline;
}

.user-pp {
    background-image: url(images/profile-pic.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 85%;
    aspect-ratio: 1 / 1;
}

.util-buttons button {
    width: 27%;
    height: 50%;
    border-radius: 2em;
    font-size: 1.5em;
    color: #ffffff;
    font-family: "Fira Code", monospace;
    font-weight: 600;
    border-width: 0px;
    background-color: #2286d6;
}

main {
    background-color: purple;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 20fr 20fr;
}

main section {
    margin: 0em 1em 1em 1em;
}

.projects {
    background-color: teal;
    grid-row: 2/4;
    grid-column: 1/2;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-grid {
    width: 100%;
    height: 94%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 30%));
    justify-content: space-evenly;
}

.main-title {
    width: 96%;
    height: 5%;
    margin: 0px;
    text-align: left;
}

.announcements {
    background-color: orange;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending {
    background-color: orangered;
    grid-row: 3/4;
    grid-column: 2/3;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.project {
    background: linear-gradient(
        90deg,
        #ffb31a 0%,
        #ffb31a 4%,
        #ffffff 4%,
        #ffffff 100%
    );
    margin: 0.7em 0px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.project-information {
    width: 85%;
    height: 60%;
}

.project-information h2 {
    margin: 0px;
    width: 85%;
}

.project-information p {
    margin: 0px;
    font-weight: 600;
    color: #646565;
    font-size: 14px;
    width: 85%;
}

.project-buttons {
    width: 85%;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.announcements .main-title {
    height: 1em;
}

.announcement-list {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.announcement-list h2 {
    margin: 0px;
}

.announcement {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
}

.announcement h2 {
    font-size: 18px;
}

.announcement p {
    font-size: 14px;
    margin: 0px;
    font-weight: 600;
    color: #646565;
}

.separator {
    width: 90%;
    height: 2px;
    background-color: #646565;
}